{{date-range-picker
  label='Filter'
  start=startDate
  end=endDate
  applyAction=(action 'setDateRange')
  dateLimit=dateLimit
  format='YYYY-MM-DD'
  alwaysShowCalendars=true
}}

<button class="btn btn-default" {{action 'export'}}>
  <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export
</button>

{{task-list tasks=model}}
