@import "ember-bootstrap/bootstrap";
@import "ember-power-datepicker";

.datepicker-small {
  @include ember-power-calendar($cell-size: 30px);
}

@import "task-list";

.ember-power-datepicker-trigger {
  display: inline-block;
}
