<nav class="navbar navbar-full navbar-dark">
  <div class="container">
    {{#link-to 'application' class='navbar-brand'}}Time Manager{{/link-to}}

    <div class="pull-right">
      {{#if session.isAuthenticated}}
        <button class="btn btn-secondary-outline" {{action "logout"}}>Logout</button>
      {{else}}
        {{#link-to 'login' class='navbar-brand'}}Login{{/link-to}}
        {{#link-to 'register' class='navbar-brand'}}register{{/link-to}}
      {{/if}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
