{{date-range-picker
  label="Date range filter"
  start=startDate
  end=endDate
  applyAction=(action 'setDateRange')
  dateLimit=dateLimit
  format="YYYY-MM-DD"
  alwaysShowCalendars=true
}}

<button class="btn btn-default" {{action 'export'}}>
  <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export
</button>

{{#link-to "dashboard.users.user.tasks.new" model.user.id class="btn btn-primary"}}
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new task
{{/link-to}}

{{task-list tasks=model.tasks me=false}}
