{{#each groupedTasks as |group|}}
  <div class="{{if group.underPreferredWorkingHours 'under-preferred-working-hours'}}">
    <h3>{{moment-format group.date}}</h3>
    <ul>
      {{#each group.tasks as |task|}}
        <li>{{task.title}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}
